{
  "semi": true,
  "singleQuote": true,
  "printWidth": 100,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "bracketSameLine": true,

  "tabWidth": 2,
  "useTabs": false,
  "quoteProps": "consistent",
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "ignore",
  "vueIndentScriptAndStyle": false
}
